section.places h1 {
	font-size: 30px;
	text-align: left;
}

.places article {
	width: 390px;
	margin: 20px;
	padding: 20px;
	border: #FF5A5F solid 1px;
	border-radius: 4px;
	display: inline-block;
}

article h2 {
	font-size: 30px;
	text-align: center;
}

footer {
	position: relative;
}

div.price_by_night {
	font-color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 100%;
	min-width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 30px;
	position: relative;
	float: right;
	top: -80px;
}

div.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

div.max_guest, div.number_rooms, div.number_bathrooms {
	line-height: 140px;
	width: 100px;
	height: 100%;
	display: inline-block;
	background-position: 50% 5px;
	background-repeat: no-repeat;
}
.max_guest {
	background-image: url("../images/icon_group.png");
}
.number_rooms {
	background-image: url("../images/icon_bed.png");
}
.number_bathrooms {
	background-image: url("../images/icon_bath.png");
}

div.description, div.user {
	text-align: left;
	margin-bottom: 10px;
	margin-top: 10px;
}
